@charset "utf-8";
/* CSS Document */

body,p,ul,li {
	font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
}
a {
	color:  #f3f3f3;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
  text-decoration: none;
  border:  2px solid #3397db;
}
#maincontent {
  background-color: #f3f3f3;
}
#footer {
  background-color: #444;
  color: #f3f3f3;
  font-size: .8rem;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #0c1f58;
  text-align:center;
  padding-top: 3px;
  padding-bottom: 3px;
}
nav h1 a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 10px;
}
#breadcrumb {
    padding: 5px;
    list-style: none;
    background-color: #ffffff;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 30vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
/* trbl */
.filter-options {
  width: calc(100%-20px);
  background-color: #0c1f58;
  padding-left: 20px;
}
.filter-options:focus {
  border: 2px solid #3397db;
}
.filter-options label {
  display: none;
}
.filter-options select {
  background-color: white;
  font-size: 1.1rem;
  height: 2rem;
  letter-spacing: 0;
  margin: 20px 0 20px 19px;
  width: 200px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-right: 40px;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  display: grid;

}
#restaurants-list .restaurant-img {
  background-color: #ccc;  
  max-width: 100%;
}
#restaurants-list li h2 {
  color: #0c1f58;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 10px;
  text-transform: uppercase;
}
#restaurants-list li a {
  background-color: #0c1f58;
  color: #fff;
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  letter-spacing: 5px;
}

/* ====================== Restaurant Details ====================== */

.inside #map-container {
  height: 30vh;
  width: 100%;
}
#maincontent {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
#restaurant-name {
  color: #0c1f58;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  max-width: 800px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  max-width: 800px;
}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}
.restaurant {
  display: grid;
  grid-template-columns: 400px 1fr;
}
#reviews-container {
  margin: 20px;
}
#reviews-container h2 {
  color: #0c1f58;
  font-size: 24pt;
  font-weight: 300;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 20px;
  padding: 5px 10px;
  }
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #333;
  padding: 0;
}
